<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>START_BUILD_NUMBER</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pullhash</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>hsc-build-02</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>CI-Scripts</project>
      <filter>*.*</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>chmod 755 *.*

./updaterepo.sh /Users/hscbuild01/jenkins-slave/codebase/ENV/DEV/DC-iOSBeta-code ${WORKSPACE} dc.ios.code.${BUILD_NUMBER}.tar origin/develop ${pullhash}

chmod -R 755 ${WORKSPACE}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./bumpiosbuild.sh ${START_BUILD_NUMBER} Apps/DigitalClubcard/iOS/Clubcard.iOS/Info.plist</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>security -v unlock-keychain -p ${keychain_password} &quot;/Users/hscbuild01/Library/Keychains/login.keychain&quot;
#security -v unlock-keychain -p ${keychain_password} &quot;/certs/login.keychain&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Common.Resources/Common.Resources/Common.Resources.csproj
/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Clubcard.Resources/Clubcard.Resources.csproj

cd Apps/DigitalClubcard/iOS/Clubcard.iOS

./setup.sh Release PROD

xbuild &quot;/property:Configuration=PPE Pass&quot; ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS.sln</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mkdir -p ${WORKSPACE}/repo

mkdir ${WORKSPACE}/repo/${START_BUILD_NUMBER}/

#DEBUG_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Debug/  -name *.ipa -exec basename {} \; `
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/PPE Pass/ -name *.ipa -exec basename {} \; `

mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/PPE Pass/${ENT_BUILD} ${WORKSPACE}/repo/${START_BUILD_NUMBER}/Clubcard-iOS-PPE-Pass-${START_BUILD_NUMBER}.ipa


cd ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/PPE Pass

zip -r DC-iOS-dSYM-prod.zip *.dSYM

mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/PPE Pass/DC-iOS-dSYM-prod.zip ${WORKSPACE}/repo/${START_BUILD_NUMBER}/DC-iOS-dSYM-prod.zip</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Common.Resources/Common.Resources/Common.Resources.csproj

#/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Clubcard.Resources/Clubcard.Resources.csproj

#/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PROD Ad-Hoc|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln

#/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PPE Ad-Hoc|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>repo/${START_BUILD_NUMBER}/Clubcard-iOS-*.ipa, repo/${START_BUILD_NUMBER}/DC-iOS-dSYM*.zip</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.38.1">
      <recipientList></recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>HSC_Digital_Clubcard_iOS@in.tesco.com, prabhuraj.manoharan@in.tesco.com</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>prabhuraj.manoharan@in.tesco.com</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>IPA_TO_DOWNLOAD=repo/${START_BUILD_NUMBER}/Clubcard-iOS-*.ipa
IPA_BUILD=${START_BUILD_NUMBER}
DSYM_FILE=repo/${START_BUILD_NUMBER}/DC-iOS-dSYM*.zip </properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>Apps/DigitalClubcard/iOS/Clubcard.iOS/ReleaseNote.txt</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>DigitalClubcard-iOSBeta-Upload-DEV-CI</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.22">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="keychain_password" password="uBMzzhUHlpzwWSyOpdAtob928bD4D19+86Fv08zi1w4="/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>