#ignore everything
#*/*
*.*

# But not these files...
!.gitignore
!**/*.xml
!**/plugins/*.jpi
!**/plugins/*.hpi

# Remove these even if they are in subdirectories
#!*/
**/log
**/nextBuildNumber
**/changelog.xml
**/build.xml
**/fingerprints/**/*.xml
