<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>3</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>ProjectName</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>DC-ANDROID-Release</string>
              <string>DC-iOS-Release</string>
              <string>DC-iOS-Debug</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FeatureBranchName</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>hsc-build-02</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>CI-Scripts</project>
      <filter>*.sh, *.bat</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mkdir -p ${WORKSPACE}/repo

mkdir ${WORKSPACE}/repo/${BUILD_NUMBER}/

chmod 755 *</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$ProjectName</arg1>
        <arg2>DC-ANDROID-Release</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.Shell>
          <command>cd /Users/hscbuild01/jenkins-slave/codebase/ENV/CUSTOM/DC-Android-code
git checkout develop
git pull --prune
git checkout $FeatureBranchName
git reset --hard HEAD
git pull
git clean -f -d
git submodule init
git submodule update --init --recursive
tar cf ../dc.android.${BUILD_NUMBER}.tar .
mv ../dc.android.${BUILD_NUMBER}.tar ${WORKSPACE}
cd ${WORKSPACE}
tar xvf dc.android.${BUILD_NUMBER}.tar
rm dc.android.${BUILD_NUMBER}.tar

chmod -R 755 ${WORKSPACE}

./bumpdroidbuild.sh ${BUILD_NUMBER} Apps/DigitalClubcard/Android/DigitalClubcard.Droid/DigitalClubcard.Droid/Properties/AndroidManifest.xml

xbuild Apps/DigitalClubcard/Android/DigitalClubcard.Droid/DigitalClubcard.Droid/DigitalClubcard.Droid.csproj /p:Configuration=Release /t:SignAndroidPackage
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/Android/DigitalClubcard.Droid/DigitalClubcard.Droid/bin/Release/ -name *Signed.apk -exec basename {} \; `
mv ${WORKSPACE}/Apps/DigitalClubcard/Android/DigitalClubcard.Droid/DigitalClubcard.Droid/bin/Release/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/Clubcard-Android-Release-${BUILD_NUMBER}.apk</command>
        </hudson.tasks.Shell>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$ProjectName</arg1>
        <arg2>DC-iOS-Release</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.Shell>
          <command>cd /Users/hscbuild01/jenkins-slave/codebase/ENV/CUSTOM/DC-iOS-code
git checkout develop
git pull --prune
git checkout $FeatureBranchName
git reset --hard HEAD
git pull
git clean -f -d
git submodule init
git submodule update --init --recursive
tar cf ../dc.android.${BUILD_NUMBER}.tar .
mv ../dc.android.${BUILD_NUMBER}.tar ${WORKSPACE}
cd ${WORKSPACE}
tar xvf dc.android.${BUILD_NUMBER}.tar
rm dc.android.${BUILD_NUMBER}.tar

chmod -R 755 ${WORKSPACE}

./bumpiosbuild.sh ${BUILD_NUMBER} Apps/DigitalClubcard/iOS/Clubcard.iOS/Info.plist

security -v unlock-keychain -p ${keychain_password} &quot;/Users/hscbuild01/Library/Keychains/login.keychain&quot;

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Common.Resources/Common.Resources/Common.Resources.csproj
/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Clubcard.Resources/Clubcard.Resources.csproj

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PROD Ad-Hoc|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Ad-Hoc/ -name *.ipa -exec basename {} \; `
mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Ad-Hoc/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/Clubcard-iOS-LIVE-${BUILD_NUMBER}.ipa

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PPE Ad-Hoc|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Ad-Hoc/ -name *.ipa -exec basename {} \; `
mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Ad-Hoc/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/Clubcard-iOS-OPS-${BUILD_NUMBER}.ipa</command>
        </hudson.tasks.Shell>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$ProjectName</arg1>
        <arg2>DC-iOS-Debug</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.Shell>
          <command>cd /Users/hscbuild01/jenkins-slave/codebase/ENV/CUSTOM/DC-iOS-code
git checkout develop
git pull --prune
git checkout $FeatureBranchName
git reset --hard HEAD
git pull
git clean -f -d
git submodule init
git submodule update --init --recursive
tar cf ../dc.android.${BUILD_NUMBER}.tar .
mv ../dc.android.${BUILD_NUMBER}.tar ${WORKSPACE}
cd ${WORKSPACE}
tar xvf dc.android.${BUILD_NUMBER}.tar
rm dc.android.${BUILD_NUMBER}.tar

chmod -R 755 ${WORKSPACE}

./bumpiosbuild.sh ${BUILD_NUMBER} Apps/DigitalClubcard/iOS/Clubcard.iOS/Info.plist

security -v unlock-keychain -p ${keychain_password} &quot;/Users/hscbuild01/Library/Keychains/login.keychain&quot;

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Common.Resources/Common.Resources/Common.Resources.csproj
/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool build -t:Build Apps/DigitalClubcard/Common/Clubcard.Resources/Clubcard.Resources.csproj

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PROD Debug|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Debug/ -name *.ipa -exec basename {} \; `
mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Debug/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/Clubcard-iOS-PROD-Debug-${BUILD_NUMBER}.ipa

/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:PPE Debug|iPhone&quot; Apps/DigitalClubcard/iOS/Clubcard.iOS.sln
ENT_BUILD=`find  ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Debug/ -name *.ipa -exec basename {} \; `
mv ${WORKSPACE}/Apps/DigitalClubcard/iOS/Clubcard.iOS/bin/iPhone/Debug/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/Clubcard-iOS-OPS-Debug-${BUILD_NUMBER}.ipa</command>
        </hudson.tasks.Shell>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>repo/${BUILD_NUMBER}/*.apk, repo/${BUILD_NUMBER}/*.ipa</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.22">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="keychain_password" password="uBMzzhUHlpzwWSyOpdAtob928bD4D19+86Fv08zi1w4="/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>