<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>3</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>test-slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>CI-Scripts</project>
      <filter>*.*</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>chmod 755 *.*</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./updaterepo.sh /Users/apple/Documents/Projects/Apps/StoreEmpowerment/iOS/StoreEmpowerment-iOS ${WORKSPACE} se.ios.code.${BUILD_NUMBER}.tar origin/develop

#./bumpiosbuild.sh ${BUILD_NUMBER} ${WORKSPACE}/platforms/ios/StoreEmpowerment-iOS/StoreEmpowerment-iOS-Info.plist</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>chmod -R 755 ${WORKSPACE}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#security -v unlock-keychain -p ${keychain_password} &quot;/Users/hscbuild01/Library/Keychains/login.keychain&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>ionic build ios

mkdir ${WORKSPACE}/out

mkdir ${WORKSPACE}/out/${BUILD_NUMBER}

cd platforms/ios

/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -scheme &quot;StoreEmpowerment-iOS&quot; -configuration &quot;Debug&quot; DSTROOT=${WORKSPACE}/out/${BUILD_NUMBER} archive</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}/out/${BUILD_NUMBER}/Applications

mkdir Payload

cp -rp StoreEmpowerment-iOS.app Payload/

zip -r ${WORKSPACE}/out/${BUILD_NUMBER}/StoreEmpower-iOS-${BUILD_NUMBER}.ipa Payload/</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>tar cf ${WORKSPACE}/auto.seios.droid.${BUILD_NUMBER}.tar StoreEmpowerment-Automation</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>bzip2 auto.seios.droid.${BUILD_NUMBER}.tar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>out/${BUILD_NUMBER}/*.ipa, **/*.bz2</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>START_BUILD_NUMBER=${BUILD_NUMBER}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>ARCHIVE_TO_COPY=auto.seios.droid.${BUILD_NUMBER}.tar.bz2</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>StoreEmpower-iOS-Sanity_Test</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.22">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="keychain_password" password="uBMzzhUHlpzwWSyOpdAtob928bD4D19+86Fv08zi1w4="/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>