<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>myvar</name>
          <description></description>
          <defaultValue>./runner.sh 9aac0d89 ../../../../repo/${BUILD_NUMBER}/Clubcard-Android-LIVE-${START_BUILD_NUMBER}.apk @sanity LIVE rach_h@hotmail.co.uk:NIreland14 $reports</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>prabhu-lap</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>while read LINE  
do  
  name=$LINE  
done &lt;releasenotes.txt

echo $name</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo $myvar

$myvar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>