<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BASE_WORKSPACE</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>hsc-build-03</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>CI-Scripts</project>
      <filter>*.*</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>chmod 755 *.*</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./updaterepo.sh /Users/hscbuild01/jenkins-slave/codebase/ENV/DEV-TESTING/GHS-iOS-code ${WORKSPACE} ghs.ios.${BUILD_NUMBER}.tar origin/develop</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd CCube

rm -rf *.bin

cp -R ${BASE_WORKSPACE}/*.bin .

chmod -R 755 ${WORKSPACE}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mkdir -p ${WORKSPACE}/repo</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mkdir ${WORKSPACE}/repo/${BUILD_NUMBER}/</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./bumpiosbuild.sh ${BUILD_NUMBER} Apps/Grocery/iOS/Grocery.iPad/Info.plist</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>security -v unlock-keychain -p ${keychain_password} &quot;/certs/login.keychain&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:Debug|iPhone&quot; -p:Grocery.iOS Apps/Grocery/iOS/Grocery.iOS.sln

mv ${WORKSPACE}/Apps/Grocery/iOS/Grocery.iOS/bin/iPhone/Debug/`find  ${WORKSPACE}/Apps/Grocery/iOS/Grocery.iOS/bin/iPhone/Debug/  -name *.ipa -exec basename {} \; ` ${WORKSPACE}/repo/${BUILD_NUMBER}/Grocery-iOS-LIVE-Debug-${BUILD_NUMBER}.ipa</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/Applications/Xamarin?Studio.app/Contents/MacOS/mdtool -v build &quot;--configuration:Debug|iPhone&quot; -p:Grocery.iPad Apps/Grocery/iOS/Grocery.iOS.sln

mv ${WORKSPACE}/Apps/Grocery/iOS/Grocery.iPad/bin/iPhone/Debug/`find  ${WORKSPACE}/Apps/Grocery/iOS/Grocery.iPad/bin/iPhone/Debug/  -name *.ipa -exec basename {} \; ` ${WORKSPACE}/repo/${BUILD_NUMBER}/Grocery-iPad-LIVE-${BUILD_NUMBER}.ipa</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>tar cf ${WORKSPACE}/auto.ios.${BUILD_NUMBER}.tar Grocery.Automation.iOS</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>bzip2 auto.ios.${BUILD_NUMBER}.tar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>repo/${BUILD_NUMBER}/*.ipa, **/*.bz2</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>START_BUILD_NUMBER=${BUILD_NUMBER}
ARCHIVE_TO_COPY=auto.ios.${BUILD_NUMBER}.tar.bz2
IPAD_IPA=repo/${BUILD_NUMBER}/Grocery-iPad-LIVE-${BUILD_NUMBER}.ipa
IPHONE_IPA=repo/${BUILD_NUMBER}/Grocery-iOS-LIVE-Debug-${BUILD_NUMBER}.ipa</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>CCube-CI-GHS-iOS-iPad-Sanity-Test,CCube-CI-GHS-iOS-iPhone-Sanity-Test</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.22">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="keychain_password" password="uBMzzhUHlpzwWSyOpdAtob928bD4D19+86Fv08zi1w4="/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>