<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>pullhash</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>hsc-build-01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>CI-Scripts</project>
      <filter>*.*</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>chmod 755 *.*

./updaterepo.sh /Users/hscbuild01/jenkins-slave/codebase/ENV/OPS/GHS-Android-code ${WORKSPACE} ighs.AMB.code.${BUILD_NUMBER}.tar origin/release/TescoRelease ${pullhash}

chmod -R 755 ${WORKSPACE}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./bumpdroidbuild.sh ${BUILD_NUMBER} Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Properties/AndroidManifest.xml

./bumpdroidbuild.sh ${BUILD_NUMBER} Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Properties/AndroidManifestTablet.xml

./bumpdroidbuild.sh ${BUILD_NUMBER} Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Properties/AndroidManifestHudl.xml

./bumpdroidbuild.sh ${BUILD_NUMBER} Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Properties/AndroidManifestHudlOne.xml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mkdir -p ${WORKSPACE}/repo

mkdir ${WORKSPACE}/repo/${BUILD_NUMBER}/</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>xbuild Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Grocery.Droid.csproj /p:Configuration=Release /t:SignAndroidPackage /p:OutputPath=bin/Release

ENT_BUILD=`find  ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/Release/ -name *-Signed.apk -exec basename {} \; `

mv ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/Release/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/GroceryDroidRelease-${BUILD_NUMBER}.apk</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>xbuild Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Grocery.Droid.csproj /p:Configuration=ReleaseTablet /t:SignAndroidPackage /p:OutputPath=bin/ReleaseTablet

ENT_BUILD=`find  ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/ReleaseTablet/ -name *-Signed.apk -exec basename {} \; `

mv ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/ReleaseTablet/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/GroceryDroidReleaseTablet-${BUILD_NUMBER}.apk</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>xbuild Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Grocery.Droid.csproj /p:Configuration=HudlRelease /t:SignAndroidPackage /p:OutputPath=bin/HudlRelease

ENT_BUILD=`find  ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/HudlRelease/ -name *-Signed.apk -exec basename {} \; `

mv ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/HudlRelease/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/GroceryDroidHudlRelease-${BUILD_NUMBER}.apk</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>xbuild Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/Grocery.Droid.csproj /p:Configuration=Hudl1_Release /t:SignAndroidPackage /p:OutputPath=bin/Hudl1_Release

ENT_BUILD=`find  ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/Hudl1_Release/ -name *-Signed.apk -exec basename {} \; `

mv ${WORKSPACE}/Apps/Grocery/Droid/Grocery.Droid/Grocery.Droid/bin/Hudl1_Release/${ENT_BUILD} ${WORKSPACE}/repo/${BUILD_NUMBER}/GroceryDroidHudl1_Release-${BUILD_NUMBER}.apk</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>repo/${BUILD_NUMBER}/*.apk</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.38.1">
      <recipientList></recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>HSC_Mobile_Grocery_Android@in.tesco.com, prabhuraj.manoharan@in.tesco.com</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>true</compressBuildLog>
            <replyTo>prabhuraj.manoharan@in.tesco.com</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>APK_TO_DOWNLOAD=repo/${BUILD_NUMBER}/*.apk
APK_BUILD=${BUILD_NUMBER}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>GHS-Android-Upload-REL-CI</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.22">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>